@import 'var';

.contact{
	background-color: $color-block;
}
.phone-icon{
	background-image: url('../img/mobile.jpg');
	background-repeat: no-repeat;
	height:32px;
	width:19px;
	margin:0 auto;
}
.pointer-icon{
	background-image: url('../img/pointer.png');
	background-repeat: no-repeat;
	height:33px;
	width:25px;
	margin:0 auto;
}
.mail-icon{
	background-image: url('../img/envelope.png');
	background-repeat: no-repeat;
	height:30px;
	width:33px;
	margin:0 auto;
}
.icon-contact{
	margin-bottom: 30px;;
}
.phone-contact>p{
	text-align:center;
	color:$color-text;
	font-size: 18px;
	font-family: 'Source Sans Pro',sans-serif;
}
.pointer-contact>p{
	text-align:center;
	color:$color-text;
	font-size: 18px;
	font-family: 'Source Sans Pro',sans-serif;
}
.mail-contact>p{
	text-align:center;
	color:$color-text;
	font-size: 18px;
	font-family: 'Source Sans Pro',sans-serif;
}
.margin-contact{
	margin-bottom: 400px;
}
.form-contact{
	background-color: #000000;
	width:65%;
	padding:62px 53px;
	margin:0 auto;
	padding-bottom:35px;
	z-index:2;
	position:absolute;
	margin-top:-297px;
	left:17%;
}
.grid-form{
	display:flex;
	justify-content: space-between;
}
.form-input {
	width: 50%;
}
.form-textarea {
	width: 46%;
}
.form-control-contact{
	background-color: transparent;
	border:1px solid #999999;
	color: #ffffff;
}
.textarea-contact{
	height:188px;
}
.btn-contact{
	display:block;
	margin-top:20px;
	width:158px;
	float:right;
}
.map-contact{
	height:370px;
	width:100%;
	background-image: url('../img/map.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	position:relative;
}
